.container {
    padding: 12px;

    @include for-tablet-portrait-up {
        padding: 25px;
    }
}

.m-wrap {
    margin-top: rem-calc(90);
    width: 100%;
    display: block;
    
    @include for-tablet-landscape-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   @include for-desktop-up {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
   }
    
    
    .m-image {
        height: 100%;
        width: auto;
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;      
        position: static;
        overflow: visible;
        margin-bottom: rem-calc(40);

        @include for-desktop-up {
            height: 80%;
            padding-right: rem-calc(40);
        }
            
        .blob {
            z-index: 4;
            position: absolute;
            top: rem-calc(70);
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            height: 480px;

            @include for-tablet-portrait-up {
                top: 10%;
                height: 67%;
                width: rem-calc(580);
            }

            @include for-desktop-up {
            top: 10%;
            left: -55px;
            margin: 0;
            height: 95%;
            width: rem-calc(600);
            position: absolute;
            z-index: 4;
            }
        }
        

        .matt {
            max-height: rem-calc(430);
            height: 100%;
            width: auto;
            z-index: 5;
            

        }
    }

    .m-text {
        width: 100%;

        @include for-desktop-up {
            display: flex;
        align-items: center;
        justify-content: center;
        }

        .m-text-container {
            width: 100%;
            max-width: rem-calc(700);
        }
        

       

        p {
            font-size: rem-calc(43);
            margin-bottom: rem-calc(5);

            @include for-tablet-portrait-up {
                font-size: rem-calc(58);
                margin-bottom: rem-calc(15);
            }
        }
        
        h1 {
            font-size: rem-calc(33);
            font-weight: 300;
            max-width: 806px;
            line-height: 131%;
            font-family: $inter;

            @include for-tablet-portrait-up {
                font-size: rem-calc(38);
            }
        }

        
    }
}