.post-grid-container {
	//overflow-x: visible;
}

.post-grid-wrap {
	overflow-x: visible;
	width: 100%;
	padding-bottom: rem-calc(70);
	@include xy-grid();
	.facetwp-template {
		@include xy-grid();
		width: 100%;
	}
	.post-grid-pod {
		position: relative;
		@include xy-cell(12);
		margin-bottom: rem-calc(50);
		@include breakpoint(medium) {
			@include xy-cell(6);
		}
		@include breakpoint(medlarge) {
			@include xy-cell(4);
		}
		.post-grid-pod-inner {
			display: flex;
			flex-direction: column;
			position: relative;
			color: $black;
			.post-grid-pod-image-wrap {
				position: relative;
				width: 100%;
				border-radius: rem-calc(10);
				padding-bottom: 75%;
				margin-bottom: rem-calc(20);
				overflow: hidden;
				.post-grid-pod-image {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					transition: transform 0.3s ease-in-out;
				}
			}
			.post-grid-pod-text {
				.post-grid-pod-text-top {
					display: flex;
					align-items: flex-start;
					.post-grid-pod-text-title {
						flex-grow: 1;
						transition: color 0.3s ease-in-out;
						span {
							display: block;
							@include small-text();
						}
					}
					.post-grid-pod-link-icon {
						flex-shrink: 1;
						width: rem-calc(30);
						height: rem-calc(30);
						background-image: url('../images/arrow-black@2x.png');
						background-size: rem-calc(23 22);
						background-repeat: no-repeat;
						background-position: center center;
						margin-left: rem-calc(10);
						transition: transform 0.3s ease-in-out;
					}
				}
				.post-grid-pod-text-bottom {
					@include small-text();
				}
			}
			.post-grid-pod-link {
				flex-shrink: 1;
			}
		}
		&:hover {
			.post-grid-pod-image {
				transform: scale(1.05);
			}
			.post-grid-pod-text-title {
				color: $primary;
			}
			.post-grid-pod-inner .post-grid-pod-text .post-grid-pod-text-top .post-grid-pod-link-icon {
				background-image: url('../images/arrow-green@2x.png');
				transform: translateX(5px);
			}
		}
	}
	&.thumbnail-style-staggered {
		.post-grid-pod {
			&:nth-child(4n+1) {
				.post-grid-pod-inner {
					.post-grid-pod-image-wrap {
						padding-bottom: 120%;
					}
				}
			}
			&:nth-child(4n+2) {
				.post-grid-pod-inner {
					.post-grid-pod-image-wrap {
						padding-bottom: 90%;
					}
				}
			}
			&:nth-child(4n+3) {
				.post-grid-pod-inner {
					.post-grid-pod-image-wrap {
						padding-bottom: 100%;
					}
				}
			}
			&:nth-child(4n+4) {
				.post-grid-pod-inner {
					.post-grid-pod-image-wrap {
						padding-bottom: 70%;
					}
				}
			}
		}
	}
	&.thumbnail-style-square {
		.post-grid-pod {
			.post-grid-pod-inner {
				.post-grid-pod-image-wrap {
					padding-bottom: 100%;
				}
			}
		}
	}
	&.post-grid-wrap-team {
		.post-grid-pod {
			@include breakpoint(large) {
				@include xy-cell(3);
			}
			.post-grid-pod-inner {
				.post-grid-pod-image-wrap {
					border-radius: rem-calc(5);
					padding-bottom: 100%;
				}
			}
		}
	}
}

.section-bg-green,
.section-bg-black {
	.post-grid-wrap {
		.post-grid-pod {
			.post-grid-pod-inner {
				color: $white;
				.post-grid-pod-text {
					.post-grid-pod-text-top {
						.post-grid-pod-link-icon {
							background-image: url('../images/arrow-white@2x.png');
						}
					}
				}
			}
		}
	}
}

.filter-bar {
	background-color: $offwhite-dark;
	border-top: $white 1px solid;
	padding: rem-calc(27 0 20);
	font-size: rem-calc(16);
	line-height: rem-calc(23);
	.filter-wrap {
		@include xy-cell(12);
		display: flex;
		justify-content: flex-start;
		.facet-all {
			margin: rem-calc(0 40 0 0);
		}
		.facetwp-facet {
			margin: 0;
			display: flex;
			justify-content: flex-start;
			.facetwp-checkbox,
			.facetwp-link {
				margin: rem-calc(0 40 0 0);
				background: none;
				padding: 0;
				.facetwp-counter {
					display: none;
				}
			}
		}
	}
}