.sbs-container {

    margin-bottom: rem-calc(60);

    @include for-tablet-portrait-up {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include for-desktop-up {
        margin-top: 78px;
        margin-bottom: 0;
    }
    
    .sbs-large {
        width: 100%;
        margin-bottom: rem-calc(33);

        @include for-tablet-portrait-up {
            margin-bottom: 0;
        }

        h2 {
            font-family: $space-grotesk;
            color: $blue-darkest;
            margin: 0;
            font-size: rem-calc(33);
            line-height: rem-calc(43);
            font-weight: 400;

            @include for-tablet-portrait-up {
                width: 90%;
            }

            @include for-tablet-landscape-up {
                font-size: rem-calc(43);
                line-height: rem-calc(53);
            }
        }
        
    }

    .sbs-small {
        width: 100%;

        .sbs-small-inner {

            @include for-tablet-landscape-up {
                p {
                    font-size: 22px;
                    line-height: 32px;
                }
            }
            
            

            @include for-tablet-portrait-up {
                width: 95%;
                margin-left: auto;
            }
        }


    }
}

.switched-sides {

    @include for-tablet-portrait-up {
        flex-direction: row-reverse;
    }

    .sbs-large {

        h2 {
            @include for-tablet-portrait-up {
                margin-left: auto;
            }
        }
        
    }

    .sbs-small {

        .sbs-small-inner {

            @include for-tablet-portrait-up {
                margin-right: auto;
            }
        }


    }
}